<main class="container">
    <h1 class="text-center">Chat</h1>
    <div class="container containerChat">
        <ul id="messages" class="chat-list"></ul>
        <form id="messageForm" class="message-form">
            <div class="email-container">
                <input id="email" type="email" value="{{user.email}}" required placeholder="Enter your email"
                    autocomplete="off" style="display: none;" />
            </div>
            <div class="message-input-container">
                <input id="m" autocomplete="off" placeholder="Enter your message" class="message-input" />
                <button type="submit" class="btn1">►</button>
            </div>
        </form>
    </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>