<main class="container login">
    <h1 class="text-center">Login</h1>
    <form action="/api/session/login" method="POST">
        <label>Email</label>
        <input type="email" name="email" class="form-control">
        <label>Password</label>
        <input type="password" name="password" class="form-control">

        <button type="submit" class="btn btn-secondary btn-sm bg-black col btnAdd">Login</button>
    </form>
</main>