<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/{{styles}}">
</head>

<body>
    <nav>
        <ul class="navBar">
            <li><a href="/products">PRODUCTS</a></li>
            <li><a href="/chat">CHAT</a></li>
            <li><a href="/realtimeproducts">REALTIMEPRODUCTS</a></li>
            <li><a href="/cart">CART</a></li>
        </ul>
    </nav>
    {{{body}}}
</body>

</html>